.navItem {
  all: unset;
  display: block;
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  box-sizing: border-box;
}

.navItem:hover {
  background-color: var(--rs-color-background-neutral-faded);
}

.active {
  background-color: var(--rs-color-background-neutral-faded);
}
