._issueRow_1cpdh_1{display:block;-webkit-text-decoration:none;text-decoration:none;color:inherit;transition:background-color .1s ease;border-radius:4px}._issueRow_1cpdh_1:hover{background-color:var(--rs-color-background-neutral-faded)}
